!!!
%html
  = partial "partials/head"
  %body
    = partial "partials/header"
    %main
      = partial "partials/project_tabs"
      %article.core_content
        = yield
    = partial "partials/footer"
