%header.site_header
  .acct_head
    -# Logo
    = partial "images/raw_svg/logo_icon.svg"
    %h1 Code Climate

    -# open menu icons
    %a.menu_btn{"data-menu" => "notes"}
      = partial "images/raw_svg/tower.svg"

    %a.menu_btn{"data-menu" => "actions"}
      %img
      -# svg arrow

    -# notifications dropdown menu
    %nav.menu_dropdown.menu_dropdown--notes
      - data.notes.each do |note|
        %li.menu_dropdown__note
          %a.menu_dropdown__link{href: note.link, target: "_blank"}
            %strong= note.category
            = note.title
          %button.check_button
            = partial "images/raw_svg/check.svg"


    -# account dropdown menu
    %nav.menu_dropdown.menu_dropdown--actions
      %a.menu_dropdown__link.add{href: "#"}
        Add Repo
      .hr
      %a.menu_dropdown__link.acct{href: "#"}
        Account
      %a.menu_dropdown__link.logout{href: "#"}
        Logout

  -# Repo Specific navigation and links
  .repo_head
    %nav.repo_nav
      %a.repo_nav_link{href: "#"}
        william-index
      %span /
      %a.repo_nav_link{href: "#"}
        placemat
      %a.repo_nav_link.repo_nav__link--action{href: "#"}
        Settings
