%header.site_header
  .site_header__acct_head
    .bar_left
      -# Logo
      %a.site_header__acct_head__logo{href: "#"}
        = partial "images/raw_svg/logo_icon.svg"
        %h1 Code Climate

    .bar_right
      -# open menu icons
      %button.site_header__acct_head__menu_btn{"data-menu" => "notes"}
        = partial "images/raw_svg/tower.svg"

      %button.site_header__acct_head__menu_btn{"data-menu" => "actions"}
        .div
          =image_tag 'users/william-index.gif'
          = partial "images/raw_svg/down_arrow.svg"



    -# notifications dropdown menu
    %nav.menu_dropdown.menu_dropdown--notes{"data-menu" => "notes"}
      - data.notes.each do |note|
        %li.menu_dropdown__note
          - if note.status === "unread"
            = partial "images/raw_svg/sun.svg"
          %a.menu_dropdown__link{href: note.link, target: "_blank"}
            %strong= note.category + ": "
            = note.title
          %button.check_button
            = partial "images/raw_svg/check.svg"


    -# account dropdown menu
    %nav.menu_dropdown.menu_dropdown--actions{"data-menu" => "actions"}
      %a.menu_dropdown__link.add{href: "#"}
        Add Repo
      .hr
      %a.menu_dropdown__link.acct{href: "#"}
        Account
      %a.menu_dropdown__link.logout{href: "#"}
        Logout

  -# Repo Specific navigation and links
  .site_header__repo_head
    %nav.repo_nav
      %a.repo_nav__link{href: "#"}
        william-index
      %span /
      %a.repo_nav__link{href: "#"}
        placemat
      %a.repo_nav__link.repo_nav__link--action{href: "#"}
        Settings
